.navbar{
    background: #f97300
}
.nav-link, .navbar-brand{
    color: white;
    cursor: pointer;
}
.nav-link{
    margin-right: 1em!important;
}

nav-link:hover{
    background: #f4f4;
    color: #f87300;
}
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-toggler{
    background: #fff;
}
.bg-dark{
    background-color: #343a40!important;
}
.bg-primary{
    background-color: #007bff!important;
}

/* header style */
.header{
    background-image: url('../images/headerback.jpg');
    background-size: cover;
    background-position: center;
}
.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rbga(244,244,244 0.79);
}
.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}

.description h1{
    color: #f97300;
    
}

.description p{
    color: #666;
    font-size: 20px;
    width: 50%;
    line-height: 1.5;
}

.description button{
    border: 1px solid #f97300;
    color: #343a40;
}
.about{
    margin: 4em;
    padding: 1em;
    position: relative;
}
.about h1{
    color: #f97300;
    margin: 2em;
}
.about img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.about span{
    display: block;
    color: #888;
    position: absolute;
    left: 150px;
}
.about .desc{
    padding: 2em;
    border-left: 4px solid #10828c;
}
.about .desc h3{
    color: #10828c;
}
.about .desc p{
    line-height: 2;
    color:  #888;
}
.portfolio{
    margin: 4em 0;
    position: relative;
}

.portfolio h1{
    color: #f97300;
    margin: 2em;
}

.portfolio img{
    height: 15rem;
    width: 100%;
    margin: 1rem;
}
.team{
    margin: 4em 0;
    position: relative;
}
.team h1{
    color: #f97300;
    margin: 2em;
}
.team .item{
    position: relative;
}
.team .desc{
    background: #f97300;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 93%;
    transition: .3s ease-in-out;
}
.team .item:hover .desc{
    height: 100%;
    background: #f973007d;
    position: absolute;
    width: 89%;
    padding: 5em;
    top: 0;
    border-bottom-left-radius: 0;
}